<% @cartitems.each do |item| %>
<script>$(document).ready(function(c) {
	$('#close<%= item.id %>').on('click', function(c){
		$('#<%= item.id %>').fadeOut('slow', function(c){
			$.ajax({
		        type: "DELETE",
		        url: "/carts/" + <%= item.id %>
		    });
			$('#<%= item.id %>').remove();
		});
		});	  
	});
</script>

<div class='cart-header' id='<%= item.id %>'>
	 <div class='close1' id='close<%= item.id %>' %> </div>
	 <div class="cart-sec simpleCart_shelfItem">
			<div class="cart-item cyc">
				 <%= image_tag(item.product.images.first, :class=>'img-responsive') %>
			</div>
		   <div class="cart-item-info">
			<h3><a href="#"> <%= item.product.name %> </a><span>Pickup time:</span></h3>
			<ul class="qty">
				<li><p>Min. order value:</p></li>
				<li><p>FREE delivery</p></li>
			</ul>
				 <div class="delivery">
				 <p>Service Charges : $10.00</p>
				 <span>Delivered in 1-1:30 hours</span>
				 <div class="clearfix"></div>
			</div>	
		   </div>
		   <div class="clearfix"></div>
								
	  </div>
</div>

<% end %>