<% items.each do |product| %>

<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
<div class="grid-arr">
	<div  class="grid-arrival">
		<figure>		
			<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
				<div class="grid-img">
					<%= image_tag(product.images.last, :class=>'img-responsive') %>
				</div>
				<div class="grid-img">
					<%= image_tag(product.images.first, :class=>'img-responsive') %>
				</div>			
			</a>		
		</figure>	
	</div>
	<div class="block">
		<div class="starbox small ghosting"> </div>
	</div>
	<div class="women">
		<h6><%= link_to product.name , product_path(product) %></h6>
		<span class="size">XL / XXL / S </span>
		<p ><del>$100.00</del><em class="item_price"><%= product.price %></em></p>
		<% if user_signed_in? %>
		<%= link_to 'Add TO Card', carts_path(:id=>product.id,:quantity=> 1), :method => :post, :cart=>product.id, :class=>"my-cart-b item_add"  %>
		<% else %>
		<%= link_to 'Add TO Card', new_user_session_path, :method => :post, :cart=>product.id, :class=>"my-cart-b item_add"  %>
		<% end %>
	</div>
</div>
</div>
<% end %>